{% extends 'user/userbase.html' %}
{% load static %}
    {% block post %}
            <!-- Service Start -->
            <div class="service">
                <div class="row portfolio-container">
                        {% for user in model  %}
                        <div class="col-lg-2 col-md-8 col-sm-3 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item">
                                <div class="service-img">
                                    <div class="service-overlay portfolio-container-image ">
                                        <form method="post" enctype="multipart/form-data" >{% csrf_token %}
                                            {{user.id}}<br>
                                        {{user.username}}<br>
                                        {{user.last_name}}<br>
                                        {{user.first_name}}<br>
                                        {{user.email}}
                                        <a href="{{image.id}}"> <img class="cover_photo_update" src="{{image.profile_picture.url}}" ></a>
                                                {% for frend in frend_form %}
                                                 {% if frend.frends == user.id and frend.received == "0" %}
                                                <button name="received" type="submit" value="{{user.id}}">received</button>
                                                {% else %}
                                                 {% if frend.frends == user.id and frend.received == "0" %}
                                                <button name="frends" type="submit" value="{{user.id}}">send</button>
                                                {% endif %}
                                                {% endfor %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
            <!-- Service End -->
{% endblock %}

