{% extends 'user/userbase.html' %}
{% load static %}
    {% block post %}
            <!-- Service Start -->
            <div class="service">
                <div class="row portfolio-container">
                        {% for image in image_album %}
                        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item">
                                <div class="service-img">
                                    <div class="service-overlay">
                                       <img class="cover_photo_update" src="{{image.profile_picture.url}}" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
            <!-- Service End -->
{% endblock %}

