{% extends 'user/userbase.html' %}
{% load static %}
    {% block post %}
            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>POSTS</h2>
                        <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                            {{ post.title }}<br>
                            {{ post.posts }}<br>
                            {{ post.post_picture }}<br>
                            {{ category.category}}<br>

                            <button type="submit">submit</button>
                        </form>
                    </div>
                    <div class="row row-1">
                        {% for task in posts_mod %}
                        <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">

                            <div class="service-item" style="background-image:">
                                {% if task.post_picture %}
                                <div class="service-img">
                                    <img src="{{task.post_picture.url}}" alt="{{tasks.service_name}}">
                                </div>
                                {% endif %}
                                <div class="service-text">
                                    <div class="col-md-2 ">
                            <div class="post-user-image" style="background-image: url({{user_image.profile_picture.url}})"></div>
                            </div>
                            <div class="col-md-4 ">
                            {{task.user.username }}<br>
                            {{task.date }}
                            </div>
                                    <div class="col-md-4 ">
                                    </div>
                                    <div class="col-md-2 ">
                                    <a class="btn" href="#" >+</a>

                                    </div>
                                </div>
                                <div class="service-overlay">
                                        <p>
                                            {{task.posts|truncatewords_html:20}}
                                        </p>
                                </div>
                                <form method="POST"  enctype="multipart/form-data" >{% csrf_token %}
                                    <button id="like" name="like"  type="submit" value={{task.id}}>
                                          <i class="fa fa-thumbs-up"></i>
                                          <span class="icon">Like {{ task.amount_of_likes }}</span>
                                    </button>

                                    <button id="Dislike1" name="dislike"  type="submit" value="{{task.id}}">
                                          <i class="fa fa-thumbs-up"></i>
                                          <span class="icon">DisLike {{ task.amount_of_dislikes }}</span>
                                    </button>
                                    <button>
                                        <i class="fa fa-comment"></i>
                                        <span class="icon">Comment</span>
                                    </button>
                                    <button>Share</button>
                                </form>
                                <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                                    {% for comment_a in comment_all %}
                                    {% if comment_a.post_user_id == task.id  %}
                                  <div class="service-overlay-comment">
                                      <div class="">
                                         <p class="coment_name">{{comment_a.user.username|slice:":1" }}</p>
                                      </div>
                                      <div class="coment">
                                     {{comment_a.comment}}
                                      </div>
                                </div>
                                    {% endif %}
                                    {% endfor %}
                                 <div class="service-overlay-comment-form">
                                     {{comment_form.comment}}
                                </div>
                                    <button name="post_user_id" type="submit" value="{{task.id}}">Share</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Service End -->
{% endblock %}
