{% extends 'user/userbase.html' %}
{% load static %}
    {% block post %}

  <div class="service">
                <div class="container">
                    <div class="section-header text-center">
                     {% for user in users_search   %}
                    <div class="col-lg-2 col-md-8 col-sm-3 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item">
                                <div class="service-img">
                                    <div class="service-overlay portfolio-container-image ">
                                        <form method="post" enctype="multipart/form-data" >{% csrf_token %}
                                        {{user.username}}<br>
                                        {{user.last_name}}<br>
                                        {{user.first_name}}<br>
                                        {{user.email}}
                                        <a href="{{image.id}}"> <img class="cover_photo_update" src="{{image.profile_picture.url}}" ></a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                </div>



                </div>

                </div>
{% endblock %}