<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>My site</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <!-- CSS Libraries -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                           <div class="col-lg-0 ">
                            <div class="logo">
                                <a href="index.html">
<!--                                    <h1>MA Partners </h1>-->
                                     <img src="{% static 'img/4.png'%}" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 d-none d-lg-block">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->
            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
<!--                        <a href="#" class="navbar-brand">MENU</a>-->
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>

                            </div>
                            <div class="ml-auto">
                                {%  if not user.is_authenticated %}
                                <button class="btn" type="submit" onclick="openFormLogin(),closeForm()">Login</button>
                                <button class="btn" type="submit" onclick="openForm(),closeFormLogin()">Registration</button>
                                {% else %}
                                <a href="{% url 'my_posts' user.username%}"><button class="btn" >{{ user.first_name}} {{ user.last_name }}</button></a>
                                <button class="btn" type="submit" ><a href="{% url 'user_logout' %}">Logout</a></button>
                                {% endif%}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="contact-form" style=" text-align: center; " >
                        <form name="sentMessage" id="myForm" novalidate="novalidate" method="POST" enctype="multipart/form-data">
                                             {% csrf_token %}
                            <div class="control-group">
                                {{registration_form.username}}
                                {{registration_form.error}}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{registration_form.last_name }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{registration_form.first_name }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{registration_form.email }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{registration_form.password1 }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{registration_form.password2 }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <button class="btn" type="submit" id="sendMessageButton">Send</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">End</button>
                        </form>
                    </div>
                </div>
            <div class="col-md-6">
        <div class="contact-form" style=" text-align: center; " >
            <form name="sentMessage" id="myFormLogin" novalidate="novalidate" method="POST" enctype="multipart/form-data">
                                 {% csrf_token %}
                <div class="control-group">
        <!--        {{login_form.username}}-->
                    {{login_form}}
                </div>
                <button class="btn" type="submit" id="sendMessageButtona">Send</button>
                <button type="button" class="btn cancel" onclick="closeFormLogin()">End</button>
            </form>
        </div>
    </div>

            <!-- Carousel Start -->
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                            <form  method="POST" enctype="multipart/form-data" style="position: absolute;z-index: 2;">{% csrf_token %}
                                <div class="ksagamin-gindugun">
                                  <div class="kedsaainu-menestab">
                                      <label class="daainumplemen">
                                          <i class="material-icons">attach_file</i>
            <!--                              <span class="nesakopab">Добавить файл</span>-->
                                          {{form_image.cover_photo}}
                                      </label>
                                  </div>
                                </div>
                                <button type="submit"></button>
                          </form>
                        {% if user_image.cover_photo  %}
                        <img src="{{user_image.cover_photo.url}}" >
                         {% endif %}
                    </div>
                    </div>
                </div>

            <!-- Carousel End -->

            <!-- Feature Start-->
            <div class="feature wow fadeInUp" data-wow-delay="0.1s">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="feature-item">
                                <div class="userimage" style="background-image: url({{user_image.profile_picture.url}});" >
                                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                        <div class="ksagamin-gindugun">
                                          <div class="kedsaainu-menestab">
                                              <label class="daainumplemen">
                                                  <i class="material-icons">attach_file</i>
                    <!--                              <span class="nesakopab">Добавить файл</span>-->
                                                  {{form_image.profile_picture}}
                                              </label>
                                          </div>
                                        </div>
                                        <button type="submit"></button>
                                    </form>
                                </div>
                                <div class="feature-text" style="width: 10%;">
                                    <br>
                                </div>
                                <div class="feature-text">
                                    <h3>{{ user.first_name}} {{ user.last_name }}</h3>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature End-->

            <div class="nav-bar nav-bar-2">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="">
                            <div class="navbar-nav mr-auto">
                                <a href="{% url 'users_posts' user.username %}" class="nav-item nav-link active">Posts</a>
                                <a href="#" class="nav-item nav-link">Frends</a>
                                <a href="#" class="nav-item nav-link">Photos</a>
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
            {% block post %}

            {% endblock  %}

 <!-- Footer Start -->
            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">

                        </div>
                        <div class="col-md-6 col-lg-3">

                        </div>
                        <div class="col-md-6 col-lg-3">

                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="newsletter">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container footer-menu">

                </div>

            <!-- Footer End -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>


        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
         <script>
function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
    $('.image-upload-wrap').addClass('image-dropping');
  });
  $('.image-upload-wrap').bind('dragleave', function () {
    $('.image-upload-wrap').removeClass('image-dropping');
});
</script>
<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}

function openFormLogin() {
  document.getElementById("myFormLogin").style.display = "block";
}

function closeFormLogin() {
  document.getElementById("myFormLogin").style.display = "none";
}
</script>
    </div>
    </body>
</html>
