{% extends 'user/userbase.html' %}
{% load static %}
    {% block post %}
            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>POSTS</h2>
                        <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                            {{ post.title }}<br>
                            {{ post.posts }}<br>

                            <div class="row">
                            {{ category.category}}
                            {{ post.post_picture }}</div>
                            <button type="submit" name="id" value="{{post.id}}">Post</button>
                        </form>
                         <div class="row row-1">

                        <form method="get" enctype="multipart/form-data" >
                            <div class="form-group row">
                            <div class="col-sm-9">
                            <select name="category"  id="id_category" class="form-control" aria-label="Default select example">
                                  <option value="0">Communication</option>
                                  <option value="1">Conference Report</option>
                                  <option value="2">Editorial</option>
                                  <option value="3">Opinion</option>
                                  <option value="4">Perspective</option>
                                  <option value="5">Book Review</option>
                                  <option value="6">Registered Report</option>
                                  <option value="7">Review</option>
                                  <option value="8">Else</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                            <button type="submit"  >Filter</button>
                            </div>
                                 </div>
                        </form>

                        <form method="post" enctype="multipart/form-data"  >{% csrf_token %}
                            <div class="form-group row">
                             <div class="col-sm-9">
                            <select name="order"  id="order" class="form-control" >
                                  <option value="created_at">Created at</option>
                                  <option value="amount_of_likes">Likes</option>
                                  <option value="amount_of_dislikes">Dislikes</option>
                            </select>
                             </div>
                            <div class="col-sm-3 col-form-label">
                                <button  type="submit">Order by</button>
                            </div>
                                </div>
                        </form>

                        {% for task in posts_mod %}
                        <div class="col-lg-10 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item" style="background-image:">

                                {% if task.posts_picture.width  is None %}
                              <video width="100%" height="100%" controls>
                                      <source src="{{task.posts_picture.url}}" type="video/mp4">
                                      <source src="movie.ogg" type="video/ogg">
                                      Your browser does not support the video tag.
                                    </video>
                                {% elif task.posts_picture %}
                                <div class="service-img">
                                    <img src="{{task.posts_picture.url}}" alt="{{tasks.service_name}}">
                                </div>
                                  {% endif %}

                                <div class="service-text">
                                    <div class="col-md-2 ">
                                        {% for image in image_all %}
                                        {% if image.user_id == task.user_id  %}
                            <div class="post-user-image" style="background-image: url({{image.profile_picture.url}})"></div>
                                        {% endif %}
                                        {% endfor %}
                            </div>
                            <div class="col-md-4 ">
                            <a href="/{{user.username}}/posts/{{task.id }}">{{task.user.username }}<br></a>
                            {{task.created_at }}<br>
                            </div>
                                    <div class="col-md-4 ">
                                    </div>
                                    <div class="col-md-2 ">
                                        {% if task.user_id == user.id %}
                                    <a class="btn" href="/{{user.username}}/posts/{{task.id }}" >+</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="service-overlay">
                                        <p>
                                            {{task.posts|truncatewords_html:50}}
                                        </p>
                                </div>
                                <form method="POST"  enctype="multipart/form-data" >{% csrf_token %}

                                    <button id="like" name="like"  type="submit" value={{task.id}}>
                                          <i class="fa fa-thumbs-up"></i>
                                          <span class="icon">Like {{ task.amount_of_likes }}</span>
                                    </button>

                                    <button id="Dislike1" name="dislike"  type="submit" value="{{task.id}}">
                                          <i class="fa fa-thumbs-down"></i>
                                          <span class="icon">DisLike {{ task.amount_of_dislikes }}</span>
                                    </button>
                                    <button name="post_user_id" type="submit" value="{{task.id}}">
                                        <i class="fa fa-comment"></i>
                                        <span class="icon">Comment</span>
                                    </button>

                                    {% for comment_a in comment_all %}
                                    {% if comment_a.post_user_id == task.id  %}
                                  <div class="service-overlay-comment">
                                      <div class="">
                                         <p class="coment_name">{{comment_a.user.username|slice:":1" }}</p>
                                      </div>
                                      <div class="coment">
                                     {{comment_a.comment}}
                                      </div>
                                </div>
                                    {% endif %}
                                    {% endfor %}
                                 <div class="service-overlay-comment-form">
                                     {{comment_form.comment}}
                                </div>

                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Service End -->
{% endblock %}
