{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Contact Start -->
    <div class="contact wow fadeInUp">
        <div class="container">
            <div class="section-header text-center">
                <h2>Sign Up</h2>
                <p>Get In Touch</p>
                <button class="btn" type="submit" onclick="openForm()">Send</button>
                 <div class="contact-form" style="border-color: rgb(0 0 0 / 20%);background: #34222236;">
                        <form name="sentMessage" id="myForm" novalidate="novalidate" method="POST" enctype="multipart/form-data"
                        style="  display: none; position: fixed;bottom: 0;right: 15px; border: 3px solid #f1f1f1;">
                                             {% csrf_token %}
                            <div class="control-group">
                                {{registration_form.username}}
                                {{registration_form.error}}
                                <p class="help-block text-danger">username</p>
                            </div>
                             <div class="control-group">
                                {{registration_form.last_name }}

                            </div>
                            <div class="control-group">
                                {{registration_form.first_name }}

                            </div>
                            <div class="control-group">
                                {{registration_form.email }}

                            </div>
                             <div class="control-group">
                                {{registration_form.password1 }}
                                <p class="help-block text-danger">password1</p>
                            </div>
                               <div class="control-group">
                                {{registration_form.password2 }}
                                <p class="help-block text-danger">password2</p>
                            </div>

                            <div>
                                <button class="btn" type="submit" id="sendMessageButton">Send</button>
                            </div>
                        <button type="button" class="btn cancel" onclick="closeForm()">Закрыть</button>
                        </form>

                 </div>
            </div>
        </div>
    </div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

{% endblock %}