{% extends 'user/userbase.html' %}
{% load static %}
    {% block post %}
            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>POSTS</h2>
                        <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                            {{ post }}
                            <button type="submit">submit</button>
                        </form>
                    </div>
                    <div class="row row-1">
                        {% for task in posts_mod %}
                        <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="col-md-4 ">
                            <div class="post-user-image" style="background-image: url({{user_image.profile_picture.url}})"></div>
                            </div>
                            <div class="col-md-4 ">
                            <p>{{request.user.username }}</p>
                                </div>
                            <div class="service-item" style="background-image:">
                                {% if task.post_picture %}
                                <div class="service-img">
                                    <img src="{{task.post_picture.url}}" alt="{{tasks.service_name}}">
                                </div>
                                {% endif %}
                                <div class="service-text">
                                    <h3>{{task.title}}</h3>
                                    <a class="btn" href="#" >+</a>
                                </div>
                                  <div class="service-overlay">
                                        <p>
                                            {{task.posts|truncatewords_html:20}}
                                        </p>
                                  </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Service End -->

{% endblock %}
